body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.entrenador {
    background-image: url('Screenshot_1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    text-align: center;
    padding: 100px 20px;
    position: relative;
}

.entrenador-content {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    display: inline-block;
    border-radius: 10px; 
    max-width: 700px; 
    margin: 0 auto; 
}

.entrenador-profile {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.entrenador-img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    margin-right: 20px;
}

.entrenador-info {
    flex: 1;
    text-align: left;
}

.entrenador h2 {
    margin-bottom: 20px;
    font-size: 2.5em;
}

.entrenador p {
    margin-bottom: 20px;
    font-size: 1.2em;
    line-height: 1.6;
}

.entrenador .cta {
    background-color: #ff5733;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

header .logo h1 {
    margin: 10px;
    padding: 5px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin-right: 20px;
}

footer nav ul li a {
    color: #fff;
    text-decoration: none;
}

